<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} SF3 NETWORK {% endblock %}</title>
    {% block stylesheets %}
        <!-- Incluir estilos CSS-->
        <link href="{{ asset('assets/bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        <!-- Incluir codigo JS-->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>
<body>
  <header>
      <h1>SOCIAL NETWORK</h1>
  </header>
  <section id="content">
      {% block content %} Contenido por defecto {% endblock %}
  </section>
  <footer>
      <hr/>
      <p>Red social con Symfony3 -Ion Saitan- <a href="http://vaniusa.eu">vaniusa.eu</a></p>
  </footer>
</body>
</html>